<section class="organizations">
  <h2>{{ include.title }}</h2>
  <p class="small">{{ include.subtitle }}</p>
    <div class="container flex">
      <img src="assets/images/plannedparenthood.png" alt="Planned Parenthood Logo">
      <img src="assets/images/nokidhungry.png" alt="No Kid Hungry Logo">
      <img src="assets/images/girlsinc.png" alt="Girls Inc Logo">
      <img src="assets/images/RAINN.png" alt="RAINN Logo">
      <img src="assets/images/thehumanutility.png" alt="The Human Utility Logo">
  </div>
</section>
