<!-- Social cards -->
<meta property="og:title" content="{{ page.title }}"/>
<meta property="og:description" content="{{ page.description }}"/>
<meta property="og:image" content="{{ page.image }}"/>
<meta property="og:url" content="{{ page.permalink }}"/>
<meta name="twitter:title" content="{{ page.title }}"/>
<meta name="twitter:description" content="{{ page.description }}"/>
<meta name="twitter:image" content="{{ page.image }}"/>
<meta name="twitter:url" content="https://givewith.us"/>
<meta name="twitter:creator" content="@jilliangmeehan"/>
<meta name="twitter:card" content="summary"/>
