// Colors
$light-purple: #E5E5E5;
$medium-purple: #CCC0D2;
$dark-purple: #A585B5;
$dark: #4D4352;

// Fonts
$sans-serif: 'Work Sans', sans-serif;

// Font sizes
$xxl: 144px;
$extra-large: 72px;
$large: 48px;
$medium-large: 36px;
$medium: 28px;
$regular: 18px;
$small: 14px;

// Font weights
$default: 400;
$semi-bold: 600;
$extra-bold: 800;
