@import 'variables.pack';

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-family: $font-stack;
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  color: black;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

a {
  color: $purple-primary;
  transition: 0.1s linear;
  text-decoration: none;

  &:hover {
    color: darken($purple-primary, 10%);
  }

  &.org {
    color: black;

    &:hover {
      color: $purple-primary;
    }
  }
}

p {
  margin: 1.5rem 0;
}

h1 {
  font-weight: 600;
  color: $purple-primary;
}

h3 {
  font-weight: 400;
}

h4 {
  font-weight: 600;
}

img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  border: 10px solid $purple-secondary;

  @media screen and (min-width: 400px) {
    width: 200px;
    height: 200px;
  }
}

.container {
  width: 100%;
  margin: 0 auto;

  &.centered { text-align: center; }

  &.flex {
    display: flex;
    flex-direction: column;

    .item {

      &.bio {
        h3 { font-size: 1.6rem; }
        h4 { font-size: 2.5rem; }
        margin-top: 5rem;
        text-align: left;
        font-size: 1.8rem;
      }

      &.donation {
        margin-top: 3rem;

        p {
          line-height: 0.5em;
          padding-bottom: 1rem;
         }

        .date {
          color: $purple-primary;
          font-size: 2.5rem;
          text-transform: uppercase;
          line-height: 0.5rem;
        }
        .org {
          font-size: 1.7rem;
          line-height: 0.2rem;
        }
        .donation-amount {
          font-size: 4.5rem;
          line-height: 1.5rem;
        }
      }
    }
  }

  @media screen and (min-width: 400px) {
    &.flex {
      flex-direction: row;
      flex-wrap: wrap;
      text-align: center;

      &.profile { justify-content: center; }
      &.donations { justify-content: space-around; }

      .item {
        margin-left: 2rem;
        margin-right: 2rem;

        &.bio {
          h3 { font-size: 2.3rem; }
          h4 { font-size: 3.5rem; }
          p {font-size: 1.8rem; }
          text-align: left;
          font-size: 2rem;
          margin-top: 5rem;
          max-width: 450px;
        }

        &.avatar {
          margin-top: auto;
          margin-bottom: auto;
          margin-right: 5rem;
        }
      }
    }
  }
}

.button {
  margin-top: 10rem;
  display: inline-block;
  padding: 1.2rem 3.3rem;
  text-transform: lowercase;
  text-decoration: none;
  color: white;
  background: $purple-primary;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0px 6px 10px rgba(204, 192, 210, 0.18);

  &:hover {
    color: white;
    background-color: darken($purple-primary, 10%);
  }

  &.affiliate {
    width: 100%;
    text-align: center;
    font-weight: 600;
    text-transform: capitalize;
    color: $purple-primary;
    background-color: white;
    border: solid $purple-primary 2px;
    margin-top: 1.5rem;
    margin-right: 1rem;
    display: inline;
    float: left;

    &:hover {
      color: white;
      background-color: $purple-primary;
    }
  }

  @media screen and (min-width: 400px) {
    &.affiliate { width: 45%; }
  }
}

.header {
  margin-left: 2rem;
  flex-direction: column;
  text-align: left;
  padding-top: 2rem;
  padding-bottom: 5rem;
  h1 { font-size: 2rem; }
}

section {
  padding: 5rem;

  &.profile {
    padding-top: 10%;
    padding-bottom: 20%;
  }

  &.donations {
    padding-top: 15%;
    padding-bottom: 15rem;
    background-color: $purple-secondary;
    text-align: left;
    bottom: 0;
    width: 100%;
  }
}
